BasedOnStyle: LLVM
IndentWidth: 4

Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: All

SortIncludes: false

# Configure each individual brace in BraceWrapping
BreakBeforeBraces: Custom
# Control of individual brace wrapping cases
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum : true
    AfterFunction : true
    AfterNamespace : true
    AfterStruct : true
    AfterUnion : true
    BeforeCatch : true
    BeforeElse : true
    IndentBraces : false
    AfterExternBlock : true
    SplitEmptyFunction : true
    SplitEmptyRecord : true
    SplitEmptyNamespace : true
    BeforeLambdaBody: true

BreakConstructorInitializers: BeforeComma
BreakBeforeTernaryOperators: true
CompactNamespaces: true
SpaceBeforeParens: Never
UseTab: Never
AllowShortFunctionsOnASingleLine: false
AlignOperands: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
ColumnLimit: 0
AllowShortBlocksOnASingleLine: Never

ExperimentalAutoDetectBinPacking: false
BinPackArguments: false
AllowShortLambdasOnASingleLine: None
BreakStringLiterals: true
LambdaBodyIndentation: Signature